.login
{
    background-color: rgba(252,252,252,0.8);
    width: auto;
    height: auto;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.login-box
{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 20%;
}

.head-pladuch
{
    margin: 2px auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(252, 252, 252, 0.9);
}

.head-pladuch-logo
{
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px;
    max-height: 100%;
    max-width: 100%;
}

.head-pladuch-logout
{
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    margin: 15px;
    padding: 5px;
    background-color: rgba(252,252,252,0.8);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.footer-pladuch
{
    background-color: rgba(252,252,252,0.8);
    bottom: 0;
    height: 20px;
    background-size: cover;
    left: 0;
    margin: 5px;
    position: absolute;
}

.panel-pladuch-admin
{
    position: absolute;
    top: 30%;
    left: 0;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.panel-pladuch-admin-element
{
    margin: 15px;
    padding: 5px;
}

.main
{
    position: absolute;
    top: 15%;
    left: 15%;
    margin: 5px;
    padding: 2px;
}
