<div class="bottom col-xs-12">
    <div class="col-xs-10 bottom-bussiness link-general">
        Pladuch. Alto de la Albillera, 2. Polígono Industrial La Hiniesta. Zamora. tfno: 980 671 138, fax: 980 519 251.
        <a href="https://plus.google.com/116518124654303576157" target="_blank">
            <i class="fa fa-google-plus-square"></i> Google+
        </a>
    </div>
    <div class="col-xs-2 bottom-login link-general">
        <a href="{{ path('pladuch_back_homepage') }}">Acceso admin</a>
    </div>
</div>