<div class="panel">
    <div class="boton-menu">
        <a href="#"><i class="fa fa-home"></i> Inicio</a>
    </div>

    <div class="boton-menu">
        <a href="#"><i class="fa fa-book"></i> Catálogo</a>
    </div>

    <div class="boton-menu">
        <a href="#"><i class="fa fa-cube"></i> Materiales</a>
    </div>

    <div class="boton-menu">
        <a href="#"><i class="fa fa-cubes"></i> Trabajos</a>
    </div>

    <div class="boton-menu">
        <a href="#"><i class="fa fa-comments-o"></i> Contacto</a>
    </div>

    <div class="boton-menu">
        <a href="#"><i class="fa fa-group"></i> Únete a nosotros</a>
    </div>
</div>
