<div class="visible-md visible-lg head-pladuch">
    <a href="{{ path('pladuch_sga_index') }}">
        <img src="{{ asset('assets/img/logo.png') }}" alt="Pladuch" class="head-pladuch-logo">
    </a>

    <div class="head-pladuch-logout link-general">
        <a href="{{ path('pladuch_logout_sga') }}">
            <i class="fa fa-power-off"></i> Desconectar
        </a>
    </div>

</div>
