<div class="panel-pladuch-admin visible-lg visible-md">
    <ul class="nav nav-pills nav-stacked">
        <li class="list-group-item"><a class="link-general" href="{{ path('pladuch_sga_index') }}"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="list-group-item"><a class="link-general" href="{{ path('pladuch_catalogo_index') }}"><i class="fa fa-book"></i> Catálogo</a></li>
        <li class="list-group-item"><a class="link-general" href="{{ path('pladuch_muestras_index') }}"><i class="fa fa-cubes"></i> Muestras</a></li>
        <li class="list-group-item"><a class="link-general" href="{{ path('pladuch_platos_index') }}"><i class="fa fa-android"></i> Platos de ducha</a></li>
    </ul>
</div>
